/*Test CSS file for formatting the loader*/

/*Define Fonts*/


@font-face{
  font-family: Legato;
  src: url("fonts/Legato/FontFont - LegatoOT.otf");
}

@font-face{
  font-family: Legato;
  src: url("fonts/Legato/FontFont - LegatoOT-Bold.otf");
  font-weight: bold;
}

@font-face{
  font-family: "Open Sans";
  src: url("fonts/Open Sans/OpenSans-Regular.ttf");
  font-weight:400;
}

@font-face{
  font-family: "Open Sans";
  src: url("fonts/Open Sans/OpenSans-Light.ttf");
  font-weight:300;
}

@font-face{
  font-family: "Open Sans";
  src: url("fonts/Open Sans/OpenSans-Semibold.ttf");
  font-weight:600;
}

@font-face{
  font-family: "Open Sans";
  src: url("fonts/Open Sans/OpenSans-Bold.ttf");
  font-weight:700;
}

@font-face{
  font-family: "Open Sans";
  src: url("fonts/Open Sans/OpenSans-ExtraBold.ttf");
  font-weight:800;
}


@font-face{
  font-family: "Open Sans";
  src: url("fonts/Open Sans/OpenSans-Italic.ttf");
  font-style:italic;
}


body{
  font-family:"Open Sans";
}